.app {
  text-align: center;
  padding: 10px;
}

form {
  width: 50%;
}

.form-input {
  margin: 10px 0px;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid lightgray;
  padding: .375rem .75rem;
  outline: none;
}

.counter {
  text-align: center;
  font-size: xx-large;
}

.blog-post_display {
  border: 1px solid lightgray;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}

.timer {
  border-radius: 4px;
  padding: 15px;
}

.timerButton {
  width: 100px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  padding: .375rem .375rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}

.counterButton {
  width: 100%;
  height: 400px;
  background-color: #007bff;
  color: #fff;
  padding: .375rem .375rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}